<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @location.user %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.lng %>
</p>

<p>
  <b>Created at:</b>
  <%= @location.created_at %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
