<!DOCTYPE html>
<html>
<head>
  <title>Achtung Kontroller!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id='container'>

      <div id='topbar'>
        <%= image_tag("logo.svg", :alt => "logo", :id => "logo") %>
        <span id="achtung">ACHTUNG KONROLLER!</span>
        <% if current_user %>
          <%= "Hello #{current_user.name}" %>
        <% end %>
      </div>

      <%= yield %>

      <div id='bottombar'>
        <% if current_user %>
          <%= link_to "Create new location", new_location_path %>
        <% else %>
          <% unless content_for?(:bottombar) %>
            <%= render('devise/sessions/new.html.erb') %>
          <% end %>
          <%= yield(:bottombar) %>
        <% end %>      
      </div>
      
    </div>
  </body>
</html>